.line{
    position: absolute;
    top:80px;
    right:50px;
    width: 50px;
    height: 10px;
    background-color:white;
}
.person{
    position: absolute;
    top:10px;
    right:33px;
    z-index: 1;
}
.primaryText-67 {
    color:rgb(229, 140, 34)
}
.secondaryText-68 {
    color:rgb(229, 140, 34)
}
.NameTitle{
    position: absolute;
    top: 50px;
    right:10px;
}
.backDsign{
    width: 1127px;
    height:50px;
    background-color: rgb(56,54,54);
    border-radius: 15px;
}
.root-65{
    background-color: rgb(56,54,54);
    margin: 0px;
    padding:0px;
    width: 1127px;
    height:50px;
    border-radius: 15px;
}
.root-72{
    background-color: rgb(56,54,54);
    border-radius:15px;
    color:white
}
.menuIco-75{
    color:rgb(229, 140, 34)
}
.icon-73{
    color:rgb(229, 140, 34)
}
.menuIcon-75{
    color:rgb(229, 140, 34)
}
.NameSpan{
    color:white;
    position: relative;
    left:1085px;
    top:-35px
}
.EchartsFirst{
    position: absolute;
    top:120px;
    left:113px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:325px;
    height: 300px;
}
.EchartsSecond{
    position: absolute;
    top:120px;
    left:475px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:325px;
    height: 300px;
}
.Inf{
    position: absolute;
    top:120px;
    right:10px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:410px;
    height: 300px;
}
.TableList{
    position: absolute;
    top:440px;
    right:10px;
    background-color:rgb(56,54,54);
    border-radius: 15px;
    width:1127px;
    height: 320px;
}
.Footer{
    position: absolute;
    bottom: -30px;
    left: 270px;
    color:white;
    /* text-align: center; */
}