.line{
    position: absolute;
    top:80px;
    right:50px;
    width: 50px;
    height: 10px;
    background-color:white;
}
.person{
    position: absolute;
    top:10px;
    right:33px;
    z-index: 1;
}
.primaryText-67 {
    color:rgb(229, 140, 34)
}
.secondaryText-68 {
    color:rgb(229, 140, 34)
}
.NameTitle{
    position: absolute;
    top: 50px;
    right:10px;
}
.backDsign{
    width: 1127px;
    height:50px;
    background-color: rgb(56,54,54);
    border-radius: 15px;
}
.root-65{
    background-color: rgb(56,54,54);
    margin: 0px;
    padding:0px;
    width: 1127px;
    height:50px;
    border-radius: 15px;
}
.root-71{
    background-color:rgb(56,54,54) ;
    border-radius:15px;
}
.root-72{
    background-color: rgb(56,54,54);
    border-radius:15px;
    color:white
}
.root-78{
    background-color:rgb(56,54,54) ;
    color: white;
}
.menuIco-75{
    color:rgb(229, 140, 34)
}
.icon-79{
    color:rgb(229, 140, 34)
}
.menuIcon-75{
    color:rgb(229, 140, 34)
}
.NameSpan{
    color:white;
    position: relative;
    left:1085px;
    top:-35px
}
.EchartsFirst{
    position: absolute;
    top:120px;
    left:113px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:325px;
    height: 300px;
}
.EchartsSecond{
    position: absolute;
    top:120px;
    left:475px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:325px;
    height: 300px;
}
.Inf{
    position: absolute;
    top:120px;
    right:10px;
    background-color:rgb(56,54,54) ;
    border-radius: 15px;
    width:410px;
    height: 300px;
}
.TableList{
    position: absolute;
    top:440px;
    right:10px;
    background-color:rgb(56,54,54);
    border-radius: 15px;
    width:1127px;
    height: 320px;
    overflow-y: scroll;
}
.Footer{
    position: absolute;
    bottom: -35px;
    left: 270px;
    color:white;
    /* text-align: center; */
}
.monthAndYear_fcec416d, .year_fcec416d, .decade_fcec416d{
    color:white
}
/* .weekday_fcec416d{
    color:white
} */
.dayIsUnfocused_fcec416d{
    color:rgb(229, 140, 34)
}
.dayWrapper_fcec416d, .weekday_fcec416d{
    color:white
}
.currentYear_fcec416d, .currentDecade_fcec416d{
    color:white
}
.closeButton_fcec416d, .prevMonth_fcec416d, .nextMonth_fcec416d, .prevYear_fcec416d, .nextYear_fcec416d, .prevDecade_fcec416d, .nextDecade_fcec416d{
    color:white
}
.monthOption_fcec416d, .yearOption_fcec416d{
    color:white
}
.pickerIsOpened_fcec416d{
    left:-16px;
    top:25px;
}
.selectionDetails-54{
    margin-bottom: 0px;
}
.root-143{
    background-color: rgb(56,54,54);
    border-bottom-color: #A9A9A9;
    color:white
}
.isRowHeader-152{
    color:white
}
.root-102{
    background-color: rgb(56,54,54);
    color:white
}
.root-106{
    background-color: rgb(56,54,54);
    border-bottom-color: #A9A9A9;
}
.root-125{
    color:white
}
.fileIconHeaderIcon-129{
    color: white;
}
.root-138{
    color:white
}
.sortIcon-128{
    color:white;
}
