.titleName{
    position: absolute;
    top:30px;
    left:30px;
}
.lineCommon{
   position: absolute;
    top:140px;
    left:170px;
    height:2px;
    width:85%;
    background-color: rgb(220,220,220);
}
.commandBar{
    position: absolute;
    /* width:80%; */
    top:150px;
    left:150px;
}
.root-65{
    width:100px;
}
.userID{
    position: absolute;
    top:50px;
    left:170px;
    color:rgb(57, 62, 70);
    font-size: 20px;
    font-weight: normal;
}
.titleID{
    position: absolute;
    top:90px;
    left:170px;
}
.DetailsList{
    position: absolute;
    top:200px;
    left:170px;
    height: 70%;
    width: 85%;
    overflow-y: scroll;
}
.toggleBasic{
    position: absolute;
    top:50px;
    right:20px;
}